*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(151, 151, 151);
}

.App {
  text-align: center;
}

.carrossel{
  margin-top: 150px;
}

img{
  width: 50vw;
  height: 50vh;
  border-style: solid;
  border-color: goldenrod;
}